.container {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    font-size: 14px;
    gap: 8px;
}

@media (max-width: 599px) {
    .container {
        flex-wrap: wrap;
        gap: 16px 6px;
    }
}

.container :global li a {
    border-radius: 7px;
    padding: 4px 10px;
    border: #ddd 1px solid;
    cursor: pointer;
    user-select: none;
}

.container :global li.previous a,
.container :global li.next a,
.container :global li.break a {
    border-color: transparent;
}

.container :global li.selected a {
    cursor: default;
    background-color: #0366d6;
    border-color: transparent;
    color: white;
}

.container :global li.disabled a {
    cursor: default;
    opacity: 0.6;
}
